doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    ul
        li
            a(href="/Gurasees" style="text-decoration:underline, font-family:sans-serif") Gurasees
        li
            a(href="/Harjap" style="text-decoration:underline, font-family:sans-serif") Harjap
        li
            a(href="/Harinder" style="text-decoration:underline, font-family:sans-serif") Harinder
        li
            a(href="/Amandeep" style="text-decoration:underline, font-family:sans-serif") Amandeep
  body
    block content